*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
}

*container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
}

p {
    font-size: 34px;
    color: red;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.container{
    font-size: 29px;
    background-color: aqua;
    display: flex;7i
    justify-content: space-between;
}

.item{
    color: violet;
}
.note{
    color: darkseagreen;
}
 




